<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Frozen Tomatoes</title>
</head>

<body>
    <form align="right" name="logout_form" method="get" action="/logout">
      <label class="logoutLblPos">
      <input name="submit2" type="submit" id="submit2" value="Logout">
      </label>
    </form>
    <label class="searchFormPos">
    <form align="center" action="/search" method="get">
  Please enter movie's name: <input type="text" name="s"><br>
  <input type="submit" value="Submit">
    </form>
        </label>
</body>

</html>
