<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div><img class="class-image" src={{ movie["Poster"] }} width="145" height="180" /></div>
        
        <div id="test">Actors:<h4 class="card-title">{{ movie["Actors"] }}</h4></div>
        Awards:
        <div class="card-text">{{ movie["Awards"] }}</div>
        BoxOffice
        <div id="test" class="card-text">{{ movie["BoxOffice"] }}</div>
        <div id="test"><p class="card-text">{{ movie["Country"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["DVD"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Director"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Genre"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Language"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Metascore"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Plot"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Production"] }}</p>
        <div id="test"><p class="card-text">{{ movie["Released"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Response"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Runtime"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Title"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Type"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Writer"] }}</p></div>
        <div id="test"><p class="card-text">{{ movie["Year"] }}</p></div>
        <div id="test"><p class="card-text">Frozen Tomatoes Rating: {{ movie["rating"] }}</p></div>
        
        {% for detail in movie["Ratings"] %}

            <div id="test"><p class="card-text">{{ detail["Source"] }}</p></div>
            <div id="test" class="card-text">{{ detail["Value"] }}</div>
        
        {% endfor %}

        <div id="test"><p class="card-text">{{ movie["imdbRating"] }}</p></div>
        <br>
        COMMENTS:
        {% for comment in comments %}
            <div id="test"><p class="card-text">{{ comment["user_id"]["first_name"] }} {{ comment["user_id"]["last_name_name"] }} : {{ comment["text"] }}</p></div>
        {% endfor %}
            <form action="/comment" id="commentform" method="POST">
                Comment:
                <input type="text" name="text">
                <input type="hidden" value={{ movie["imdbID"] }} name="movie_id" />
                <input type="submit" value="Add Comment">
            </form>
        <form action="/rate" id="rateform" method="POST">
        <div class="rate">
            Rate:
            <input type="radio" id="star5" name="rating" value="5"{{ my_rate["5"] }}/>
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4"{{ my_rate["4"] }}/>
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3"{{ my_rate["3"] }}/>
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2"{{ my_rate["2"] }}/>
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1"{{ my_rate["1"] }}/>
            <label for="star1" title="text">1 star</label>
        </div>
            <input type="hidden" value={{ movie["imdbID"] }} name="movie_id" />
            <input type="submit" value="Submit">
        </form>
            <form id="test" action="/api/users/{{session['user_id']}}/movielist" method="POST">
                <input type="hidden" value={{ movie["imdbID"] }} name="movie_id" />
                <input type="submit" value="Add to list">
            </form>
    </body>
</html>
